<div class="meet-panel-container">
    <div class="video-container">
        <!-- <ng-container *ngFor="let stream of streams">
            <video class="remote-video" autoplay playsinline [srcObject]="stream"></video>
        </ng-container> -->
        <div id="remote_videos">
            <div class="videos-inner"></div>
        </div>
    </div>
    <div class="action-container">
        <div class="meet-info">
            <button mat-fab color="white" [matMenuTriggerFor]="meetingInfoMenu" id="meetingInfoBtn">
                <i id="meetingInfoBtn" [matMenuTriggerFor]="meetingInfoMenu" class="fa-solid fa-circle-info fa-2xl" style="color: #000;"></i>
            </button>
        </div>
        <div class="call-actions">
            <button
                mat-fab
                color="white"
                matTooltipPosition="above"
                [matTooltip]="isLocalMicOn ? 'Mic Off' : 'Mic On'"
                (click)="toggleLocalMic()"
            >
                <i [ngClass]="{ 'fa-microphone': isLocalMicOn, 'fa-microphone-slash': !isLocalMicOn }" class="fa-solid fa-xl" style="color: #000;"></i>
            </button>
            <button
                mat-fab
                color="white"
                matTooltipPosition="above"
                [matTooltip]="isLocalCamOn ? 'Video Off' : 'Video On'"
                (click)="toggleLocalVideo()"
            >
                <i [ngClass]="{ 'fa-video': isLocalCamOn, 'fa-video-slash': !isLocalCamOn }" class="fa-solid fa-xl" style="color: #000;"></i>
            </button>
            <button
                mat-fab
                color="warn"
                matTooltipPosition="above"
                matTooltip="End Confrence"
                (click)="leave()"
            >
                <i class="fa-solid fa-phone-slash fa-xl" style="color: fff;"></i>
            </button>
            </div>
        <div class="members-info">
            <button mat-fab color="white">
                <i class="fa-solid fa-users fa-xl" style="color: #000;"></i>
            </button>
        </div>
    </div>
</div>
<mat-menu #meetingInfoMenu>
    <menu mat-menu-item>
        Meeting Link: <b>{{getMeetingLink}}</b><i class="fa-solid fa-copy fa-xl" style="margin-left: 16px; color: #000;" (click)="handleCopy(getMeetingLink)" matTooltip="Copy meeting link" matTooltipPosition="above"></i>
    </menu>
    <menu mat-menu-item>
        Meeting Code: <b>{{meetingCode}}</b><i class="fa-solid fa-copy fa-xl" style="margin-left: 16px; color: #000;" (click)="handleCopy(meetingCode)" matTooltip="Copy meeting code" matTooltipPosition="above"></i>
    </menu>
</mat-menu>