<div class="home-container">
    <mat-card class="action-card">
        <mat-card-header>
          <mat-card-title><h1>Confrence App</h1></mat-card-title>
          <mat-card-subtitle><h3>Video calls and meetings for everyone.</h3></mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/images/video-call.svg" alt="video Call">
        <mat-card-content>
          <h3>Create new meeting or join with meeting code.</h3>
        </mat-card-content>
        <mat-card-actions class="card-action-wrapper">
          <button mat-raised-button color="primary" [routerLink]="['/confrence']">Let's Start Meeting</button>
          <h2 style="margin: 0 32px;">OR</h2>
          <!-- <i class="afa-solid fa-grip-lines-vesrtical fas-2xl">OR</i> -->
          <mat-form-field class="example-form-field">
            <mat-label>Enter meeting code here ...</mat-label>
            <input matInput type="text" [(ngModel)]="meetingCode">
          </mat-form-field>
          <button mat-button [disabled]="validMeetingCode" [routerLink]="['/confrence/' + meetingCode]">Join Meeting</button>
        </mat-card-actions>
      </mat-card>
</div>
