.home-conatainer {
    text-align: center;
}
.action-container {
    .open-usermedia-btn {
        margin-right: 8px;
    }
    .new-meeting-btn {
        margin-right: 8px;
        margin-left: 8px;
    }
    .join-meeting-input {
        margin-right: 8px;
        margin-left: 8px;
    }
    .join-meeting-btn {
        margin-right: 8px;
        margin-left: 8px;
    }
    .hangup-btn {
        margin-left: 8px;
    }
}
.videos-container {
    display: flex;
    justify-content: center;
    div {
        margin: 32px 8px;
    }
    .local-video,
    .remote-video {
        background: black;
        width: 440px;
        height: 330px;
    }
}