.home-container {
    display: flex;
    padding: 32px;
    justify-content: center;
    .action-card {
        width: 520px;
    }
    .card-action-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}